* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#caixa1, #caixa2 {
    width: 200px;
    min-height: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.cursos{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.selecionado{
    background-color: red;
}
